/* Body */

body {
  display : flex ; /* Le body devient flex-container et ces enfants flex-items  */
  flex-wrap : wrap ; /* Les flex-items de body peuvent aller à la ligne */
}


/* Header */

/* La section du header */

.bloc {
  margin : auto ; /**/
  max-width : 100% ; /**/
  padding : 0 30px ; /**/
}

header {
  flex-basis : 100% ; /* Le header occupe toute la largeur */
}

#section_header {   
  display : flex ; /* La section avec comme identifiant header_section devient flex container */
  flex-wrap : nowrap ; /* Les élements da la section du header restent sur une seule ligne */
}

h2 {
  flex-basis : 70% ; /* Le titre h2 prend 70% de la place disponible en largeur au maximum */
  
}


/* Responsivité du header */
/* Permet de modifié l'en-tête du header lorsque la page devient plus petite */

@media screen and (max-width : 320px) {
  .bloc {
      padding : 0 15px ; /* La classe bloc à un padding de 15 pixels à droite et à gauche*/
  }
}

@media screen and (min-width : 768px) {
  .bloc {
    padding : 0 39px ; /* La classe bloc à un padding de 39 pixels à droite et à gauche*/
  } 
  .img_h {
    height : 4em ;
  }
  #section_header {
    height : 80px ;
  }
}

@media screen and (min-width : 1024px) {
  .bloc {
    max-width : 1024px ;
    padding : 0 47px ; /* La classe bloc à un padding de 47 pixels à droite et à gauche*/
  } 
}

@media screen and (min-width : 1200px) {
  .bloc {
    max-width : 1200px ;
    padding : 0 15px ;  /* La classe bloc à un padding de 15 pixels à droite et à gauche*/
  } 
  .img_h {
    height : 5.6em ;
  }
  #section_header {
    height : 105px ;
  }
  h2 {
    font-size : 2.4em ;
  }
}

@media only screen and (max-width : 767px) {
  .bloc {
    padding : 0 25px 0 15px ; /* La classe bloc à un padding de 15 pixels à droite et à gauche*/
  }
  .img_h {
    height : 2.8em ;
  }
  #section_header {
    height : 55px ;
  }
  h2 {
    font-size : 1.3em ; 
  }
}


/* Menu de navigation du header */

#ul_header {
  list-style-type : none ; /* Enelève les puces des listes */
}

header > nav > #ul_header {
  display : flex ;  /* Le ul du nav qui est dans le header devient flex container */
}

.barre { /* Permet les barres blanches dans le */
  border-left : solid white ; /* Met une bordure solide blanche à gauche des élements de la classe barre  */
  border-left-width : 2px ; /* Met l'épaisseur de la bordure de droite à 2px */
  margin-top : 11.5px ; /* Met le margin du haut à 11.5px */
  margin-bottom : 13px; /* Met le margin du bas à 13px */
  padding-right : 0px ; /* Met le padding droit à 0px */
}

header > nav > #ul_header > .li_nav {
  text-align : center ; /* Permet d'alligner le texte au milieu*/
  padding-right : 20px ; /* Met un padding à droite de 20px */
  
} 

#a_droite1 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite1 à 20px */
}

#a_droite2 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite2 à 20px */
}

#a_droite3 {
  padding-left : 20px ; /* Met le padding gauche de l'identifiant a_droite3 à 20px */
}


nav {
  height : 55px ; /* Met une hauteur de 55px au nav */ 
}

.a_nav {
  font-weight : 700 ; /* Permet de mettre le texte en gras */
  padding-top : 17px ; /* Met un paddig en haut de 17px */
  padding-bottom : 16px ; /* Met un padding en bas de 16px */
  height : 22px ; /* Met une taille de 22px */
  text-decoration : none ; /* Permet d'enlever le soulignement des liens */
  display : block ; /* Transforme en type bloc pour le centrer */
  text-align : left ; /* Aligne le texte à gauche */
}


/* Main */

main {
  flex-basis : 100% ; /* Le main occupe toute la largeur */
}


/* Footer */

footer {
  flex-basis : 100% ; /* Le footer occupe toute la largeur */
  display : flex ; /* Le footer devient flex-container donc ces enfants flex-items */
  flex-wrap : wrap ; /* Les flex-items du footer peuvent aller à la ligne */
  font-size : 0.9em ; /* La taille de la police est de 0.9em */
}

div {
  margin-top : 10px ; /* Met une marge de 10px en haut des div */
}

.div_75 {
  display : flex ; /* Le div avec comme classe div_75 devient flex-container donc ces enfants deviennent flex-items */
  flex-wrap : wrap ; /* Les flex-items peuvent aller à la ligne */
}

#p_copy {
  margin-top : 20px ; /* Le paragraphe avec comme id p_copy à une marge en haut de 20px */
}

.div_75 .p_barre {
  flex-basis : 15% ; /* Les paragraphes avec comme class p_barre et qui on un parent indirect div_75 prennent 30% de la place disponible  */
  margin-bottom : 3px ; /* Ils ont aussi une marge en bas de 3 pixels */
}

.ul_reseau {
  list-style-type : none ; /* Enlève les puces des listes */
  display : flex ; /* Le ul de la classe ul_reseau devient flex-container */
}

.ul_coordonne {
    flex-basis : 100% ; /* Le ul de la classe ul_coordonne prend 100% de la place */
}

.ul_coordonne, .ul_nom {
  list-style-type : none ; /* Enelève les puces des listes */
}

.nom, .coordonne {
  margin : 0px ; /* Enlève les marges */
}

.nom {
  text-align : right /* Aligne les noms du footer à droite  */
}

.reseau {
  height : 2.5em ; /* Met la hauteur des images de la classe réseau à 2.5em */
  margin : 0px 3px ; /* Met une marge de 3pixels à droite et à gauche */
}

.p_barre {
  text-decoration: underline white;    /* Souligne le texte en blanc */                 /***MODIFFFFFFF***/
}

/* Responsivité du footer */

@media screen and (min-width : 1330px) { /* Fait effet lorsque la taille de l'écran est supérieur à 1330 pixels */                  /***MODIFFFFFFF***/
  .div_75 {
    flex-basis : 81% ; /* Prend 81% de l'espace disponible */
    margin-left : 15px ; /* Marge de 15 pixels à gauche */
  }
  
  #div_copy {
    flex-basis : 85% ; /* Prend 85% de l'espace disponible */
    margin-left : 15px ; /* Marge de 15 pixels à gauche */
  }
  
}

/* Modification car la partie droite du footer vont à la ligne à partir de 1330 pixels */
@media screen and (max-width : 1330px) { /* Fait effet lorsque la taille de l'écran est inférieur à 1190 pixels */                          /***MODIFFFFFFF***/
  .div_75 {
    flex-basis : 65% ; /* Prend 65% de l'espace disponible */                                    /***MODIFFFFFFF***/
    margin-left : 10px ; /* Marge de 10 pixels à gauche */                                        
      
  }
  
  #div_copy {
    flex-basis : 70% ; /* Prend 70% de l'espace disponible */                                 /***MODIFFFFFFF***/
    margin-left : 10px ; /* Marge de 10 pixels à gauche */
  }
}

/* Modification car la partie droite du footer retoure une nouvelle fois à la ligne à partir de 760 pixels */                              /***MODIFFFFFFF***/
@media screen and (max-width : 760px) { /**/
  .div_75 {
    flex-basis : 40% ; /* Prend 40% de l'espace disponible */                          /***MODIFFFFFFF***/
    margin-left : 10px ; /* Marge de 10 pixels à gauche */                               
      
  }
  
  #div_copy {
    flex-basis : 40% ; /* Prend 40% de l'espace disponible */                           /***MODIFFFFFFF***/
    margin-left : 10px ; /* Marge de 10 pixels à gauche */
  }
}






